  .option-chain{
    height: 500px;
  }
  
 .option-chain h1 {
    text-align: center;
  }
  
  .option-chain label {
    font-weight: bold;
  }
  
  .option-chain input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .option-chain button {
    padding: 5px 10px;
  }
  .option-chain table {
    border: 1px solid black;
  }
  
  .option-chain th,td {
    border: 1px solid black;
  }



  #result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .option-chain form{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .option-chain form select{
    width: 20%;
  
  }

  .option-chain form button{
    height: 45px;
  }

  .option-chain > div >label>h3{
    text-align: center;
  }