body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
  }
  table {
    border: 1px solid black;
  }
  
  th,td {
    border: 1px solid black;
  }



  #result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  